.cart__item-info {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.cart__item-info img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.cart__product-title {
  font-size: 0.8rem;
  font-weight: 400;
  color: #df2020;
}

.cart__product-price {
  font-size: 0.9rem;
  font-weight: 600;

  color: #139652;
}

.cartItem-increase__decrease-btns {
  /* background: #fde4e4;
  padding: 0;
  border-radius: 5px;
  margin-top: 0.5rem;
  height: 1.5rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20px;
  width: 90px;
  position: relative;
}

.cartItem-increase__btn,
.cartItem-decrease__btn {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #e0e5ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  /* box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001; */
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
  font-size: 26px;
  color: #555;
  text-decoration: none;
  border: none;
}

.cartItem-increase__btn:hover{
  background: #139652;
  color: #fff;
}

.cartItem-decrease__btn.disabled,.cartItem-increase__btn.disabled{
  border: 1px solid #999999;
  background-color: #fcf9f9;
  color: #666666;
}

.cartItem-decrease__btn.disabled:hover,.cartItem-increase__btn.disabled:hover{
  border: 1px solid #999999;
  /* background-color: #cccccc; */
  background-color: #fcf9f9;
  color: #666666;
  
}




.cartItem-decrease__btn:hover{
  background: #df2020;
  color: #fff; 
}

.cart__quantityContainer {
  max-width: 5rem;
  min-width: 5rem;
  cursor: pointer;
}
.cartItem-quantity {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(71, 71, 71); 
}
.cart__item {
  margin-bottom: 15px;
  border-bottom: 1px solid #fde4e4;
}

@media only screen and (max-width: 576px) {
  .quantityContainer {
    font-size: 1rem;
  }
}
