.cart__item-info {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.cart__item-info img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.cart__product-title {
  font-size: 0.8rem;
  font-weight: 400;
  color: #df2020;
}

.cart__product-price {
  font-size: 0.9rem;
  font-weight: 600;

  color: #139652;
}

.increase__decrease-btn {
  background: #fde4e4;
  padding: 0;
  border-radius: 5px;
  margin-top: 0.5rem;
  height: 1.5rem;
}

.increase__btn,
.decrease__btn {
  cursor: pointer;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__quantityContainer {
  max-width: 5rem;
  min-width: 5rem;
  cursor: pointer;
}
.quantity {
  font-size: 0.8rem;
}
.cart__item {
  margin-bottom: 15px;
  border-bottom: 1px solid #fde4e4;
}

@media only screen and (max-width: 576px) {
  .quantityContainer {
    font-size: 1rem;
  }
}
