#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  color: #24965a;
}

.cateringCard__title {
  width: 94vw;
}

@media only screen and (max-width: 996px) {
  /* .carousel-indicators{
    bottom: 0rem !important;
  }
 .carousel-control-prev {
  left: 0;
  bottom: 0rem !important;
}

 .carousel-control-next {
  right: 0;
  bottom: 0rem !important;
}
.carousel .slide img{
  height: 20rem !important;
 }  */
}

@media only screen and (max-width: 768px) {
  /* .carousel-indicators{
    bottom: 0rem !important;
  }
  
   .carousel-control-prev {
    left: 0;
    bottom: 0rem !important;
  }
  
   .carousel-control-next {
    right: 0;
    bottom: 0rem !important;
  }  */
}

@media only screen and (max-width: 576px) {
  .catering__banner {
    width: 40rem;
  }
  /* .carousel-indicators{
   display: none !important;
   
  }
  
   .carousel-control-prev {
    display: none !important;
    
  }
  
   .carousel-control-next {
    display: none !important;
   
  } 
  .carousel .slide img{
    max-height: 20rem !important;
    min-width: 100%;
   }  */

  .cateringPage__row {
    flex-direction: column;
  }
}
