.catering__banner{
  width: 100%;
  height: 500px;
  display: flex;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  background: url("../../images/cateringBanner.jpeg");
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: cover;
  
}


#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
  color: #24965A;
  
}

.cateringCard__title{
  width: 94vw;
}

/* .catering__banner svg{
  position: fixed;
  top: 11.2rem;
  display: block;
  z-index: -1;
  
} */
/* .catering__content{
  width:50%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  
}
.cateringCarousel{
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  border-left: 100px solid #139652;
  border-bottom: 400px solid red; 
}

.carousel-item img{
  height: 25rem;
}

.carousel-indicators{
  display: none !important;
} */



@media only screen and (max-width: 996px) {
  /* .carousel-indicators{
    bottom: 0rem !important;
  }
 .carousel-control-prev {
  left: 0;
  bottom: 0rem !important;
}

 .carousel-control-next {
  right: 0;
  bottom: 0rem !important;
}
.carousel .slide img{
  height: 20rem !important;
 }  */
}

@media only screen and (max-width: 768px){
  /* .carousel-indicators{
    bottom: 0rem !important;
  }
  
   .carousel-control-prev {
    left: 0;
    bottom: 0rem !important;
  }
  
   .carousel-control-next {
    right: 0;
    bottom: 0rem !important;
  }  */
}


@media only screen and (max-width: 576px){
  .catering__banner{
    width: 40rem;
  }
  /* .carousel-indicators{
   display: none !important;
   
  }
  
   .carousel-control-prev {
    display: none !important;
    
  }
  
   .carousel-control-next {
    display: none !important;
   
  } 
  .carousel .slide img{
    max-height: 20rem !important;
    min-width: 100%;
   }  */

  .cateringPage__row{
    flex-direction: column;
  }
}



