@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

/* *, ::after,::before{
    font-family: "RocknRoll One", sans-serif !important;
} */

h3 {
  color: #139652;
  display: flex;
  height: 6rem;
  /* padding-bottom: 0; */
  justify-content: center;
  align-items: flex-end;
  /* border: 1px solid red; */
}
.formContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgb(202, 202, 197);
  border-radius: 0.5rem;
  background-color: rgba(247, 247, 247, 0.753);
}

.alertMsgContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  /* border: 2px solid salmon; */
  border-radius: 0.5rem;
  border-color: rgb(209 213 219);
  gap: 1rem;
  font-family: "RocknRoll One", sans-serif !important;
}

.alertMsg {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  /* border: 1px solid red; */
  color: #ffffff;
}

.danger {
  background-color: #ff0000;
}

.success {
  background-color: #139652;
}

.titleContainer {
  width: 100%;
  border-bottom-width: 5px;
  border-bottom: 1px solid rgb(201, 193, 193);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.titleContainer a {
  color: rgb(55 65 81);
  font-size: 1.25rem;
  /* padding-left: 0.5rem; */
  /* border: 1px solid red; */
}

.titleInput {
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
  line-height: 1.75rem;
  background: transparent;
  outline: none;
  border: none;
  padding: 0px 10px;
}
.titleInput::placeholder {
  color: rgb(107 114 128);
}

.categorySelect {
  outline: none;

  width: 23rem;
  font-size: 1rem;
  border-bottom-width: 2px;
  border-color: rgb(229 231 235);
  /* border: 2px solid red; */
  padding: 0.5rem;
  border-radius: 0.375rem; /* 6px */
  cursor: pointer;
}

.categoryOptions {
  font-size: 1rem;
  line-height: 1rem;
  border: none;
  outline: none;
  text-transform: capitalize;
  background: white;
  color: black;
}

.uploadBox {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-width: 2px;
  border-color: #d1d5db;
  border-style: dotted;
  cursor: pointer;
}

.uploadLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.uploadContainer a {
  color: #6b7280;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.uploadContainer p {
  color: #6b7280;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.uploadContainer p:hover {
  color: #374151;
}

.uploadInput {
  width: 0;
  height: 0;
}

.uploadImage {
  position: relative;
  height: 100%;
}

.uploadImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.deleteButton {
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: 0.75rem;
  bottom: 0.75rem;
  padding: 0.75rem;
  background-color: #ef4444;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 1.25rem;
  line-height: 1.75rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  outline: 0;
}

.deleteButton:hover {
  border: 3.5px solid #ffffff;
  transition: all 0.2ms ease-in-out;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* height: 20rem; */
  gap: 0.75rem;
  /* border: 1px solid #374151; */
}

.description {
  display: flex;
  padding: 0.5rem 0rem;
  
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  flex-direction: row;
  height: auto;
}

.description a {
  color: #374151;
  font-size: 1.5rem;
  line-height: 2rem;
}

.description input {
  background-color: transparent;
  font-size: 1.125rem;
  line-height: 1.75rem;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom-width: 5px;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid rgb(201, 193, 193);
}

.optionsContainer {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  /* border: 1px solid red; */
}

.optionsContainer select {
  display: flex;
  color: #6b7280;

  border: none;
  outline: none;
  cursor: pointer;
}

.optionsContainer select:hover {
  color: #374151;
}

.sizeContainer,
.addon,
.meatOptions {
  display: flex;
  flex-direction: row;
}

.priceContainer {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  width: 100%;
  
  gap: 0.5rem;
}

.priceContainer a {
  color: #374151;
  font-size: 1.5rem;
  line-height: 2rem;
}

.priceContainer input {
  background-color: transparent;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  border-bottom: 1px solid rgb(201, 193, 193);
  padding-bottom: 0.1rem;
}

.saveBtn {
  width: 100%;
  display: flex;
  align-items: center;
}

.saveBtn button {
  padding: 0.5rem 3rem;
  margin-left: 0;
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  width: 100%;
  border-radius: 0.5rem;
  border-style: none;
  outline: none;
  background-color: #139652;
}

.saveBtn button:hover {
  background-color: #ff0000;
}

@media (min-width: 768px) {
  .uploadBox {
    cursor: pointer;
    height: 300px;
  }
  .descriptionContainer {
    flex-direction: row;
  }
  .saveBtn button {
    width: auto;
    margin: auto;
  }
  .optionsContainer {
    display: block;
    width: 50%;
  }

  .optionsContainer select {
    display: inline-block;
  }
}

@media only screen and (max-width: 992px) {
  .formContainer {
    width: 100%;
  }
  .categorySelect {
    width: 20rem;
  }

  .optionsContainer {
    /* width: 50%; */
    gap: 0;
    display: block;
  }

  .optionsContainer select {
    width: 70%;
    display: block;
  }
}

@media only screen and (max-width: 384px) {
  .categorySelect {
    width: 11rem;
  }
}
