@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
.footer {
  padding-top: 2rem;
 
  margin-bottom: 0rem;
  background: #e01f25;
  color: #fff;
  height: 100%;
  overflow: hidden;
  min-width: 100vw;
  cursor: pointer;
}


/* .follow-icons {
  margin-bottom: 2rem;
  border: 1px solid blue;
} */

.map__container {
  border: 1px solid salmon;
  min-height: 300px;
  overflow: hidden;
}

/* .footer__branches {
  background: transparent !important;
  border: none !important;
}

.footer__branches:focus {
  border: none !important;
}

.branches-item,
.services-item {
  background: transparent !important;
}
.services-item a {
  text-decoration: none;
  outline: none;
}
.branches-item span,
.services-item span {
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
}
.services-item span:hover {
  font-weight: 600;
  cursor: pointer;
} */

.follow-icons ul a {
  color: #ffff;
  padding: 4px 1rem;
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.3rem;
  border-radius: 50%;
  background-color: #e44147;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-icons {
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* margin-bottom: 2rem; */
}

.socials {
  display: flex;
  justify-content: center;

  align-items: center;
}

.socials a .icon:hover {
  transform: scale(1.2);
}

.contactUs__container{
  min-width: 100%;
  /* border: 1px solid blue; */
  
}

.copyright {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.copyrightContainer {
  border-top: 1px solid rgb(180, 179, 179);
  margin-top: 4rem;
}
.copyrightContainer p {
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .branches-item span {
    font-size: 0.8rem;
  }

  .footer-col {
    margin-top: 10px;
  }

  .branches-item p {
    font-size: 0.7rem;
    /* margin-bottom: 0; */
  }
}

@media only screen and (max-width: 576px) {
  .copyright__text {
    text-align: center;
  }

  .footer-col {
    margin-top: 10px;
  }
.contactUs__container{
  min-width: 100%;
  overflow-y: scroll;
}


  
}
