@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap"); 

.footer {
    padding-top: 5.5rem;
    padding-bottom: 30px;
    background: #e01f25;
    color: #fff;
  }

  .footer-col{
    padding-right: 3.5rem;
    
  }
  hr{
    width: 60%;
  }
  .about-us-hr{
    width: 60% !important;
    
  }

  .follow-icons{
    margin-bottom: 2rem;
    border: 1px solid blue;
  }

  .footer__logo img {
    width: calc(100% - 50%);
    margin: 5px;
    
  }
  
  .footer__logo h5{
    padding: 20px 0;
    color: #fff;
  }
  
  .branches-item {
    background: transparent !important;
  }
  
  .branches-item span {
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
  }
  
  .branches-item p {
    color: #e5e5f7;
    font-size: 0.8rem;
  }

  .branches-item img{
    width: 10rem;
    margin-top: 5rem;
    height: 10rem;
  }
  .branches-item ul a {
    color: #ffff;
    padding: 0px 10px;
    font-size: 1.5rem;
  }
  
  
  
  .about-us {
    padding: 5px;
    margin-top: 90px;
    width: 20rem !important;
    height: 23rem;
    /* border: 1px solid #212245; */
    border-radius: 5px;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; */
  }
  
 
  
 
  
  @media only screen and (max-width: 768px) {
    
  
    .branches-item span {
      font-size: 0.8rem;
    }

    .footer-col{
      margin-top: 10px;
    }

    .about-us{
      margin-top: 10px;
    }
  
    .branches-item p {
      font-size: 0.7rem;
      /* margin-bottom: 0; */
    }
  }
  
  @media only screen and (max-width: 576px) {
    .copyright__text {
      text-align: center;
    }

    .footer-col{
      margin-top: 10px;
    }

    .about-us{
      margin-top: 10px;
    }
  
    .social__links p {
      font-size: 0.8rem;
    }
  
    .social__links span {
      padding: 4px;
    }
    .social__links span a {
      font-size: 0.7rem;
    }


  }