.feature__subtitle {
  color: #df2020;
}

.feature__title span {
  color: #df2020;
}

.feature__title {
  color: #139652;
}

.feature__text {
  color: #777;
}

.feature__item p {
  color: #777;
}

.feature__item h5 {
  color: #e01f25;
}

.menu__category {
  background: #139652;
  text-align: center;
  margin-top: 30px;
  padding: 20px 0px;
  border-radius: 8px;
}

.menu__category button {
  border: none;
  outline: none;
  padding: 7px 20px;
  background: transparent;
  color: #fff;
}

.menuBtnActive {
  /* width: 50% !important; */
  background: #fff !important;
  border-radius: 5px;
  color: #df2020 !important;
}

.tasty__treat-title span {
  color: #df2020;
}

.tasty__treat-desc {
  color: #777;
  line-height: 28px;
}

.choose__us-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.choose__us-title i {
  font-weight: 500 !important;
  color: #df2020;
}

.choose__us-desc {
  color: #777;
}

.testimonial__subtitle {
  color: #df2020;
}

.testimonial__title span {
  color: #df2020;
}
.testimonial__title {
  color: #139652;
}
.testimonial__desc {
  color: #777;
  line-height: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form > h2 {
  margin-bottom: 30px;
  /* color: #292930; */
  color: #df2020;
}

.form > h2 > span {
  color: #139652;
}

.form > input,
textarea {
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137);
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border: none;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

.form > textarea {
  height: 100px;
  max-width: 150px;
  min-height: 90px;
}

.form > label {
  padding-bottom: 10px;
  color: #139652;
  font-weight: bold;
}

.form > button {
  padding: 15px;
  border: none;
  background-color: #df2020;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.order__btn a {
  text-decoration: none;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order__btn a:hover {
  color: #fff;
}

.form > button:hover {
  background-color: #139652;
}

@media only screen and (max-width: 768px) {
  .hero__content h5 {
    font-size: 1rem;
  }

  .hero__content p {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .hero__title {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .hero__btns button {
    padding: 5px 15px;
    font-size: 0.7rem;
  }

  .hero__service p {
    font-size: 0.7rem !important;
  }
  .feature__item h5 {
    font-size: 0.9rem;
  }
  

  .feature__item p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .feature__subtitle {
    font-size: 1rem;
  }
  .feature__text {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .menu__category {
    padding: 15px;
  }
  .menu__category button {
    padding: 5px 15px;
    font-size: 0.7rem;
  }

  .tasty__treat-desc {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .choose__us-title {
    font-size: 0.8rem;
  }

  .choose__us-desc {
    font-size: 0.7rem;
  }

  .testimonial__subtitle {
    font-size: 1rem;
  }
  .testimonial__desc {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero__content {
    text-align: center;
  }

  .hero__btns {
    justify-content: center;
  }

  .hero__service {
    justify-content: center;
  }
  .why__choose-us {
    padding-top: 0 !important;
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
    cursor: none;
    color: transparent;
    outline: none;
    background: transparent;
  }

  .slick-prev {
    color: transparent;
    background: transparent;
    outline: none;
    left: -100px;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
    display: none;
  }
}

.slick-prev:before,
.slick-next:before {
  display: none;
  cursor: none;
}
