.home__banner {
  /* background: url(../../images/banner.png); */
  background-position:end;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__content {
  padding-top: 70px;
  /* padding-bottom: 70px; */
}
.hero__content h5{
  color: #139652 !important;
}
.hero__title {
  font-size: 2.5rem;
  line-height: 55px;
  /* color: #fff; */
}

.hero__title span {
  color: #df2020;
  /* color: #fff; */
}

.hero__content p {
  font-size: 1rem;
  line-height: 30px;
  color: #777;
  /* color: #fff; */
}

.hero__btns button {
  border: none !important;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider img {
  /* padding-top: 70px; */
  margin-top: 3.5rem;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  border-radius: 2%;
  object-fit: contain;
  position: relative;
  box-shadow: 0px 5px 14px rgba(32, 31, 31, 0.6);
}

.order__btn {
  background: #df2020;
  color: #fff;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__btn:hover {
  background: #139652;
}

.hero__service p {
  color: #212245;
  /* color: #fff; */
  font-weight: 600;
  font-size: 0.9rem;
}

.shipping__icon {
  padding: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  background: #139652;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  font-weight: 500 !important;
}

.feature__subtitle {
  color: #df2020;
}

.feature__title span {
  color: #df2020;
}

.feature__title {
  color: #139652;
}

.feature__text {
  color: #777;
}

.feature__item-container a {
  text-decoration: none;
}

.feature__item p {
  color: #777;
}

.feature__item h5 {
  color: #e01f25;
}

.curved-div {
  background: #E01F25;
  color: #FFF;
  text-align: center;
}
.curved-div h1 {
  font-size: 3rem;
  color: #fff;
  margin-top: -1rem;
  margin-bottom: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.curved-div p {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.curved-div svg{
  display: block;
}
.curved-div.upper{
  background: #ffff;
  margin-top: -1rem;
  /* background-image: url('../../images/waveUpper.svg'); */
}


/* .serviceSection{
  margin-top: -2rem;
} */
.menu__category {
  background: #139652;
  text-align: center;
  margin-top: 30px;
  padding: 20px 0px;
  border-radius: 8px;
}

.menu__category button {
  border: none;
  outline: none;
  padding: 7px 20px;
  background: transparent;
  color: #fff;
}



.tasty__treat-title span {
  color: #df2020;
}

.tasty__treat-desc {
  color: #777;
  line-height: 28px;
}

.choose__us-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.choose__us-title i {
  font-weight: 500 !important;
  color: #df2020;
}

.choose__us-desc {
  color: #777;
}

.testimonial__section {
  margin-top: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
  width: 100%;
  padding: 40px 0;
  /* background: #119651; */
  background: url("../../images/testimonial-bg.jpg");
}

/*.testimonial__section:after{
  background: url("../../images/bg-pattern.png") repeat-x;
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
  height: 246px;
  transform: rotate(180deg);
  z-index: 1;
} */

.testimonial__subtitle {
  /* color: #df2020; */
  color: #139652;
}

.testimonial__title span {
  color: #df2020;
}
.testimonial__title {
  color: #139652;
}
.testimonial__desc {
  color: #777;
  /* color: #fff; */
  line-height: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form > h2 {
  margin-bottom: 30px;
  /* color: #292930; */
  color: #df2020;
}

.form > h2 > span {
  color: #139652;
}

.form > input,
textarea {
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137);
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border: none;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

.form > textarea {
  height: 100px;
  max-width: 100%;
  min-height: 90px;
}

.form > label {
  padding-bottom: 10px;
  color: #139652;
  font-weight: bold;
}

.form > button {
  padding: 15px;
  border: none;
  background-color: #df2020;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.order__btn a {
  text-decoration: none;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order__btn{
  width:9rem;
  /* min-height: 2rem;
  max-height: 2rem; */
  animation: animate 0.5s infinite ease-in-out alternate;
  -webkit-animation: animate 0.5s infinite ease-in-out alternate;
}

.call__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #df2020;
  color: #fff;
}

.call__btn a, .call__btn a:hover{
  text-decoration: none;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .order__btn:before{
  position:absolute;
  content:'';
  border:2px solid #24965a;
  background-color: #24965a;
  left:8rem;
  right:69rem;
  bottom:14rem;
  top:25rem;
  border-radius:3%;
  z-index: -10;
  animation:animate 2s linear infinite;
}
.order__btn:after{
  position:absolute;
  content:'';
  border:2px solid #e01f25;
  background-color:#e01f25;
  left:8rem;
  right:69rem;
  bottom:14rem;
  top:25rem;
  border-radius:3%;
  z-index: -10;
  animation:animate 2s 1s linear infinite;
} */

@keyframes animate{
  100%{
    transform:translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
   
  }
}
.order__btn a:hover {
  color: #fff;
}

.form > button:hover {
  background-color: #139652;
}

@media only screen and (max-width: 768px) {
  .hero__content h5 {
    font-size: 1rem;
  }

  .hero__content p {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .hero__title {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .hero__btns button {
    padding: 5px 15px;
    font-size: 0.7rem;
  }

  .hero__service p {
    font-size: 0.7rem !important;
  }
  .feature__item h5 {
    font-size: 0.9rem;
  }

  .feature__item p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .feature__subtitle {
    font-size: 1rem;
  }
  .feature__text {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .menu__category {
    padding: 15px;
  }
  .menu__category button {
    padding: 5px 15px;
    font-size: 0.7rem;
  }

  .tasty__treat-desc {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .choose__us-title {
    font-size: 0.8rem;
  }

  .choose__us-desc {
    font-size: 0.7rem;
  }

  .testimonial__subtitle {
    font-size: 1rem;
  }
  .testimonial__desc {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero__content {
    text-align: center;
  }

  .hero__btns {
    justify-content: center;
  }

  .hero__service {
    justify-content: center;
  }
  .why__choose-us {
    padding-top: 0 !important;
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
    cursor: none;
    color: transparent;
    outline: none;
    background: transparent;
  }

  .slick-prev {
    color: transparent;
    background: transparent;
    outline: none;
    left: -100px;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
    display: none;
  }
}

.slick-prev:before,
.slick-next:before {
  display: none;
  cursor: none;
}


.home-right {
  position: relative;
  /* aspect-ratio: 10 / 11; */
  padding-top: 110%;
}

.food-img {
  position: absolute;
  width: 60%;
}

.food-1 {
  top:  5%;
  left: -4%;
  transform: rotate(20deg);
  animation: scaleUp 3s ease-in-out infinite;
}

.food-2 {
  top:  10%;
  right: -2%;
  transform: scale(2.5);
  animation: scaleUp 2s ease-in-out infinite;
}

.food-3 {
  bottom: 8%;
  right:  -4%;
  animation: scaleUp 4s ease-in-out infinite;
}

.shape {
  position: absolute;
  filter: drop-shadow(0px 3px 6px hsla(0, 0%, 0%, 0.1));
}

.shape-1 {
  top:  0;
  left: 5%;
  animation: scaleUp 2s 3s ease-in-out infinite;
}

.shape-2 {
  right: 0;
  top:  55%;
  animation: scaleUp 3s 4s ease-in-out infinite;
}

.shape-3 {
  bottom: 5%;
  left:   5%;
  animation: scaleUp 3s 1s ease-in-out infinite;
}

.shape-4 {
  top:  35%;
  right: 0;
  animation: moveUp 3s 1s ease-in-out infinite;
}

.shape-5 {
  top: 60%;
  left: 0;
  animation: moveUp 3s ease-in-out infinite;
}

.shape-6 {
  top: 60%;
  left: 50%;
  animation: moveUp 3s ease-in-out infinite;
}

.shape-7 {
  top: 2%;
  left: 70%;
  animation: moveUp 3s ease-in-out infinite;
}

.shape-8 {
  top: 12%;
  left: 40%;
  animation: moveUp 3s ease-in-out infinite;
}


@keyframes scaleUp {

  0%,
  100% { transform: translateY(0) scale(1); }

  50% { transform: translateY(-5px) scale(1.05);}

}


@keyframes moveUp {

  0%,
  100% { transform: translateY(0); }
  20%  { transform: translateY(-3px); }
  50%  { transform: translateY(-8px); }

}

