.product__item {
    border: 1px solid #fde4e4;
    text-align: center;
    /* padding: 30px; */
    cursor: pointer;
    padding-top: 10px;
    margin-right: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product__img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    transition: 0.4s;
    /* border: 1px solid red; */
    
  }
  
  .product__img img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    /* overflow: hidden; */
  }
  
  /* .product__img:hover {
    transform: scale(1.2);
    
  } */

  .product__details{
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transition: 0.4s;
  }
  
  .product__content h5 a {
    color: #212245;
    font-size: 1rem;
  }
  
  .product__content h5 {
    margin-bottom: 30px;
  }
  
  .product__price {
    font-weight: 600;
    font-size: 1rem;
    color: #df2020;
  }
  
  .addTOCart__btn {
    border: none;
    padding: 7px 18px;
    background: #139652;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
    
  }
  
  @media only screen and (max-width: 992px) {
    .product__content h5 a {
      font-size: 0.8rem;
    }
    .product__item {
      padding: 20px;
    }
    .addTOCart__btn {
      padding: 5px 15px;
      font-size: 0.7rem;
    }
  }



  /* <ListGroupItem className=" services-item border-0 ps-0">
                <a href="https://wa.me/97455251120">
                  <span>Catering Services</span>
                </a>
              </ListGroupItem>
              <ListGroupItem className=" services-item border-0 ps-0">
                <a href="https://wa.me/97455251120">
                  <span>Outdoor Live Cooking</span>
                </a>
              </ListGroupItem>
              <ListGroupItem className="services-item border-0 ps-0">
                <a href="https://wa.me/97455251120">
                  <span>
                    Available 24/7{" "}
                    {<img src={available247} alt="logoavailable247" />}
                  </span>
                </a>
              </ListGroupItem>
              <ListGroupItem className="services-item border-0 ps-0">
                <a href="https://wa.me/97455251120">
                  <span>
                    Free Delivery{" "}
                    {<img src={footerlogo} alt="delivery image" />}
                  </span>
                </a>
              </ListGroupItem> */