.offers{
    position: relative;
    overflow: hidden;
    
}

.offers .offers__bg-holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  will-change: transform, opacity, filter;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-image: url("../../images/greenBanner.jpg");
  filter: grayscale(50%);
  background-position: "center";
  background-size: "cover";
  z-index: 0;
  overflow: hidden;
}

.offers__btn{
  font-family: inherit;
  border: none !important;
  outline-offset: none !important;
}

.offers__container {
  position: relative;
  max-width: 1480px;

}
