.productDec__container {
  width: 100%;
  margin-top: 5rem;
  /* margin-bottom: 20rem; */
  /* border: 1px solid red; */
}

.imgContainer {
  /* border: 1px solid salmon; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 12rem; */
  overflow: hidden;
  transition: all 0.2s ease;
}

.imgContainer img {
  /* max-height: 90%; */
  max-width: 100%;
  object-fit: cover;
}

/* .imgContainer img:hover{
    transform: scale(1.2);
} */

.descModalContainer {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descHeader h5 {
  /* border-bottom:0.3px solid rgba(0, 0, 0, 0.7); */

  padding: 1.5rem 10rem;
  font-size: 1.3rem;
  font-weight: 600;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.descriptionModal {
  padding: 1.5rem 1.2rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.descrptionFooter {
  /* border: 1px solid pink; */
  width: 100%;
  gap: 5rem;
}

.descFooter {
  background: #fde4e4;
  padding: 2px 5px;
  border-radius: 5px;
  max-width: 30%;
  min-width: 30%;
  text-align: center;
}
