/* google fonts */
 @import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
/* @import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic); */
/* reset default style */
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* base style */

body {
  background: #fcfcfc;
  padding-right: 0 !important;
  /* height: 100vh; */
  /* background-image: url("images/background.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;  */
  /* background-image: url("../src/images/red-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  font-family: "Istok Web", sans-serif;
  padding-top: 80px;
  overflow-x: hidden;
  overflow-y: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif !important;
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #292930;
}



@media only screen and (max-width: 768px) {
  

  h1,
  h2 {
    font-size: 1.5rem;
  }
}